.quote-text {
    font-size: 16px;
}
.quote-author {
    font-size: 14px;
}

.well {
    display: inline-block; 
    text-align: justify;
    -moz-text-align-last: justify; 
    -webkit-text-align-last: justify; 
    text-align-last: justify; 
}

.well p {
    margin-right: 10px;
}

.option {
    font-size: 18px;
    line-height: 1;
    margin-bottom: .5em;
    font-family: 'Pompadur';
    font-weight: normal;
    color: #fff;
}

.option li{
    margin-bottom:10px;
}

.lastli {
    font-family: 'Pompadur';
    font-size: 24px; 
    color: #e9403b; 
    font-weight: bold;
}

.pane {
    font-family: 'Pompadur';
    font-size: 28px; 
    //   color: #fff; 
}

.big {
    font-family: 'Pompadur';
    font-size: 32px; 
    color: #e9403b; 
    font-weight: bold;
}

th {
    font-family: 'Pompadur';
    font-size: 20px; 
    color: #fff; 
}

tr {
    font-family: 'Pompadur';
    font-size: 18px; 
    color: #fff; 
}

td {
    font-family: 'Pompadur';
    font-size: 18px; 
    //    color: #fff; 
}
.box {
    background: #2c2c2c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 20px 10px 5px 10px;
    margin-bottom: 25px;
}

.want {   
    display:inline;
    width: 100%;
    margin-top:5px;
    background:#009F52;
    color:#ffffff;
    font-family:'Pompadur';
    font-size:22px;
    padding:.4em .8em;
    border:none;
    cursor:pointer;
    -moz-transition:all 200ms linear 0s;
    -webkit-transition:all 200ms linear 0s;
    -o-transition:all 200ms linear 0s;
    transition:all 200ms linear 0s;
}

.want:hover {  
    background: #00D66F;		
    color: #fff;
}

.show {
    font-family:'Pompadur';	
    float: right;
    margin-right: 10px;
    color: #fff; 
    font-size:28px;
    font-weight: bold;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #3c3c3c;
    font-family:'Pompadur';
    font-size:22px;
}

a.list-group-item {
    color: #5d5d5d;//#3c763d;
    background-color: #171515;
}

a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}


.list-group-item-success {
    color: #fff;//#3c763d;
    background-color: #222222; //#dff0d8;
}

a.list-group-item-success {
    color: #fff;//#3c763d;
}

a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #fff;//#3c763d;
    background-color: #e9403b;//#d0e9c6;
}

.list-group-item-warning {
    color: #5d5d5d;//#3c763d;
    //background-color: #222222; //#dff0d8;
}

a.list-group-item-warning {
    color: #5d5d5d;//#3c763d;
    background-color: #171515;
}

.not-active {
    pointer-events: none;
    cursor: default;
}


.phone {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-size:32px;
    font-family:'Pompadur';
    background:#222;
    color: #838282;
    border:1px solid #000;
    width:220px;
    -moz-transition:all 200ms linear 0s;
    -webkit-transition:all 200ms linear 0s;
    -o-transition:all 200ms linear 0s;
    -ms-transition:all 200ms linear 0s;
    transition:all 200ms linear 0s;
}

.phone:hover {
    -moz-transition:all 200ms linear 0s;
    -webkit-transition:all 200ms linear 0s;
    -o-transition:all 200ms linear 0s;
    -ms-transition:all 200ms linear 0s;
    transition:all 200ms linear 0s;
    -moz-box-shadow:inset 0 0 0 1px	#383838;
    -webkit-box-shadow:inset 0 0 0 1px	#383838;
    box-shadow:inset 0 0 0 1px	#383838;
}

.phone:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #222 inset;
    -webkit-text-fill-color: #838282 !important;
}

.phoneButton {
    display:inline;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    /*    background:#009F52;
        color:#ffffff;*/
    background: #2c2c2c;
    color: #9f9f9f;
    font-family:'Pompadur';
    font-size:28px;
    border:none;
    cursor:pointer;
    -moz-transition:all 200ms linear 0s;
    -webkit-transition:all 200ms linear 0s;
    -o-transition:all 200ms linear 0s;
    transition:all 200ms linear 0s;
}

.phoneButton:hover {
    background: #e9403b;
    color: #fff;
}

.disabled {
    pointer-events: none;
    cursor: default;
    background: #1F1A1A;
    color: #222;
}

.operationButton {
    display:inline;
    height: 50px;
    //margin-left: 20px;
    background: #2c2c2c;
    color: #9f9f9f;
    font-family:'Pompadur';
    font-size:24px;
    border:none;
    cursor:pointer;
    -moz-transition:all 200ms linear 0s;
    -webkit-transition:all 200ms linear 0s;
    -o-transition:all 200ms linear 0s;
    transition:all 200ms linear 0s;
}

.operationButton:hover {
    background: #e9403b;
    color: #fff;
}

.href {
    font-size: 22px;
    line-height: 1;
    margin-bottom: .5em;
    font-family: 'Pompadur';
    font-weight: normal;
    color: #e9403b;   
}

.href:hover {
    color: rgb(85, 26, 139);
}

.errorMessage {
    font-family:'Pompadur';
    font-size:22px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #e9403b;
    display:inline-block;
    vertical-align: middle;
}

.error {
    border-color: #e9403b;
}